// ----Color fondos----
$colorheader: rgb(194, 245, 203);
$colornav: rgb(255, 255, 255);
$colormain: rgba(158, 143, 243, 0.74);
$colorfooter: rgb(22, 2, 41);
$colorinicio:  rgba(255, 255, 255, 0.631);
$colorboton: rgb(125, 42, 202);


// ---- Color Fonts ----
$color1: rgb(0, 0, 0);
$color2: rgb(255, 255, 255);
$color3: rgb(44, 61, 47);

